#header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999999;
}

#header .wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
}

#header .wrapper .home i {
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
}

#header .wrapper i {
    font-size: 1.3rem;
    padding: .3rem .2rem;
}

#header .wrapper>* {
    margin-left: 3px;
    display: inline-block;
    color: #67A6CA;
}

#header .wrapper .element-alignments {
    padding: 6px 10px;
    color: #fff;
    margin: 0.3rem 0;
    background-color: #67A6CA;
    border-radius: 2px;
    display: inline-block;
    cursor: pointer;
    font-weight: 600;
}

#header .wrapper .element-alignments:hover {
    background-color: #3588B9;
}

#header .wrapper .search {
    position: absolute;
    transform: translateX(2%);
}

#header #boards-search {
    position: absolute;
    top: 50px;
    box-shadow: 10px 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1rem;
    background: #fff;
    z-index: 999;
}

#header #boards-search .close-div {
    cursor: pointer;
    font-size: 1.3rem;
}

#header #boards-search ul li {
    padding: .3rem 1.5rem;
    list-style-type: none;
}

#header #boards-search ul .board-heading a {
    color: #aaa;
    text-decoration: none;
    padding: .5rem;
}

#header #boards-search ul .boards-list a {
    color: #172b4d;
    font-weight: 800;
    cursor: pointer;
    text-decoration: none;
}

#header #boards-search ul .boards-list a:hover {
    filter: brightness(90%);
}

#header #boards-search ul .boards-list .white-space {
    content: "  ";
    background-color: #EB5A46;
    width: 40px;
    height: 40px;
    padding: 5px;
}

.search-input {
    background-color: #67A6CA;
    border: none;
    cursor: text;
    width: 10rem;
}

.search {
    transition: all .4s;
}

.search:hover {
    background-color: #fff!important;
    color: #000;
}

.search:hover i {
    color: #000;
}

.search:hover .search-input {
    background-color: #fff!important;
    transition: all .4s;
    color: #000;
}

.search-input:focus {
    width: 20rem;
}

.search-input {
    color: #fff;
    transition: all .4s;
}

.search-input:focus {
    outline: none;
}

#header .wrapper .icon {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 45px;
}

.hr-primary {
    background-image: gradient(left, rgba(66, 133, 244, .8), rgba(66, 133, 244, .6), rgba(0, 0, 0, 0));
}

#header #create-block {
    position: absolute;
    right: 0;
    width: 20rem;
    box-shadow: 10px 6px 20px 10px rgba(0, 0, 0, 0.19);
}

#header #create-block {
    background-color: #fff;
    z-index: 999;
}

#header #create-block .close-create-div {
    cursor: pointer;
}

#header #create-block h6 {
    padding: .5rem 6rem;
}

#header #create-block h5 {
    font-size: .9rem;
}

#header #create-block .create-type {
    padding: 0 .8rem;
    color: #172b4d;
    cursor: pointer;
}

#header #create-block .light-fonts {
    font-size: .75rem;
    line-height: initial;
}

#create-team {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 999;
    overflow: auto;
}

#create-team .wrapper {
    width: 80%;
    margin: 2rem auto;
    position: relative;
}

#create-team .wrapper #close-create-team {
    position: absolute;
    padding: 1rem;
    top: 10;
    right: 0;
    font-size: 1.8rem;
    font-weight: 800;
    cursor: pointer;
}

#create-team .wrapper .content-wrapper {
    padding: 6rem 6rem;
    background-color: #fff;
    border-radius: 10px;
}

#create-team .wrapper .content-wrapper .create .create-wrapper>* {
    display: block;
}

.dark-text {
    color: #091e42;
    font-weight: 900;
}

.light-text {
    color: #6b778c;
}

#create-team .wrapper .content-wrapper .create .create-wrapper {
    width: 80%;
}

#create-team .wrapper .content-wrapper .create .create-wrapper h4 {
    font-size: 1.8rem;
}

#create-team .wrapper .content-wrapper .create .create-wrapper h5 {
    font-size: 1.3rem;
    padding: .5rem 0;
}

#create-team .wrapper .content-wrapper .create .create-wrapper .label {
    font-size: 1rem;
    padding-top: .5rem;
}

#create-team .wrapper .content-wrapper .create .create-wrapper .info {
    padding: .2rem 0;
}

#create-team .wrapper .content-wrapper .create .create-wrapper .my-submit-btn {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    background-color: #5aac44;
    border: none;
    color: #fff;
    padding: .5rem;
}

.my-input {
    width: 100%!important;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.2rem;
    padding: .3rem;
}

.my-input:focus {
    border: 2px solid #0079BF;
    outline: none;
}

textarea {
    resize: none;
}

.disabled-btn {
    color: #aaa!important;
    background-color: #fff!important;
    cursor: not-allowed!important;
}

.image-section {
    background-image: url(https://a.trellocdn.com/prgb/dist/images/create-team/wavy-border.1ea9c6f8c41d10be0e12.svg);
}

.optional-text {
    font-weight: 100;
    color: #777;
}

#edit-team {
    width: 45%;
}

#team {
    margin-top: 5rem;
}

#team .image {
    width: 20%;
}

#team .team-info {
    width: 45%;
    margin: 0 auto;
}

#team .team-info>* {
    display: inline-block;
}

#team .team-info #edit-team {
    margin-left: 1rem;
    width: 85%;
}

#team .team-info #edit-team .wrapper {
    width: 45%;
}

#team .team-info .other-info {
    margin-left: 1rem;
    width: 85%;
}

#team .team-info .other-info .team-name {
    display: inline-block;
}

#team .team-info .other-info .team-visibility {
    color: #EB5A46;
    margin-left: .5rem;
}

#team .image {
    background-color: #e7e8ec;
    height: 80px;
    width: 80px;
    text-align: center;
    border-radius: 5px;
}

#team .image i {
    line-height: 40px;
    font-size: 1.5rem;
    padding: 1.5rem;
}

#team .team-setting .nav-item {
    background-color: #dfe1e6;
    margin-left: .4rem;
    border-radius: 5px 5px 0 0;
}

#team .team-setting .nav-item:hover {
    background-color: #c1c7d0;
}

#team .team-setting .nav-item a {
    color: #172b4d;
    font-weight: 600;
}

.team-container {
    width: 53%;
    margin: 0 auto;
}

#team .team-board {
    background-color: #EB5A46;
    text-align: left;
    color: #fff;
}

#team .team-board h5 {
    padding: .5rem;
    font-size: .95rem;
    font-weight: 800;
}

#team .board {
    width: 270px;
    height: 95px;
    display: inline-block;
    margin-left: .5rem;
    cursor: pointer;
}

#team .board:hover {
    filter: brightness(90%);
}

#team .create-board {
    text-align: center;
}

#team .create-board:hover {
    background-color: rgba(9, 30, 66, .08);
}

#team .create-board h5 {
    font-weight: 400;
    font-size: .9rem;
    transform: translateY(25px);
    color: #000;
}

#team .members h3 {
    font-size: 1.5rem;
    font-weight: 800;
}

#team .members h5 {
    font-size: .8rem;
    color: #172b4d;
}

#team .members input {
    width: 75%;
    padding: .5rem;
    margin: .5rem 0;
}

#team .members input:focus {
    border: 2px solid #0079BF;
    outline: none;
}

#team .team-settings {
    width: 100%;
}

#team .team-settings .visibility i {
    color: #EB5A46;
}

#team .team-settings .visibility .btn {
    cursor: pointer;
}

#visibility-option {
    position: fixed;
    top: 25rem;
    left: 60rem;
    background-color: #fff;
    width: 25%;
}

#visibility-option h5 {
    padding: .5rem .5rem;
}

#visibility-option #visibility-list {
    display: inline-block;
}

#visibility-option #visibility-list li {
    list-style-type: none;
    padding: .5rem .5rem;
    cursor: pointer;
}

#visibility-option #visibility-list li:hover {
    background-color: #eee;
}

#Settings {
    position: relative;
}

#visibility-option #visibility-list li i {
    color: #EB5A46;
}


/* add-member modal */

#add-members {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 999;
}

#add-members .wrapper {
    width: 80%;
    margin: 6rem auto;
    position: relative;
}

#add-members .wrapper .close-btn {
    position: absolute;
    padding: 1rem;
    top: 10;
    right: 0;
    font-size: 1.8rem;
    font-weight: 800;
    cursor: pointer;
}

#add-members .wrapper .content-wrapper {
    padding: 8rem 6rem;
    background-color: #fff;
    border-radius: 10px;
}

#add-members .wrapper .content-wrapper .create .create-wrapper>* {
    display: block;
}

.dark-text {
    color: #091e42;
    font-weight: 900;
}

.light-text {
    color: #6b778c;
}

#add-members .wrapper .content-wrapper .create .create-wrapper {
    width: 80%;
}

#add-members .wrapper .content-wrapper .create .create-wrapper h4 {
    font-size: 1.8rem;
}

#add-members .wrapper .content-wrapper .create .create-wrapper h5 {
    font-size: 1.3rem;
    padding: .5rem 0;
}

#add-members .wrapper .content-wrapper .create .create-wrapper .label {
    font-size: 1rem;
    padding-top: .5rem;
}

#add-members .wrapper .content-wrapper .create .create-wrapper .info {
    padding: .2rem 0;
}

#add-members .wrapper .content-wrapper .create .create-wrapper .member-submit-btn {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    background-color: #5aac44;
    border: none;
    color: #fff;
    padding: .5rem;
}

#close-member-modal-btn {
    cursor: pointer;
    text-decoration: underline;
}

#notification-panel {
    width: 100%;
    height: 90vh;
    background-color: transparent;
    position: relative;
}

#notification-panel .wrapper {
    position: fixed;
    right: 10px;
    height: 100%;
    background-color: #fff;
    width: 30%;
    border-radius: 5px;
    z-index: 9999;
}

#notification-panel .wrapper .content {
    width: 100%;
    height: 100%;
    padding: .5rem;
    color: #000;
}

#notification-panel .wrapper .content .notification-header {
    font-size: 1.2rem;
    position: relative;
}

#notification-panel .wrapper .content .notification-header #close-notification-modal {
    position: absolute;
    right: 10px;
    top: 0;
    cursor: pointer;
    font-size: 1.5rem;
}

#notification-list {
    width: 100%;
    height: 83vh;
    overflow: auto;
}

#notification-list>* {
    width: 100%;
}

#notification-list .card-content {
    background-color: #fff;
}

#notification-list .card-content a {
    text-decoration: none;
    color: #000;
}

.bg-none{
    background: transparent!important;
    color: #FFF!important;
    border: none!important;
}
::placeholder {
    color: #FFF!important;
    opacity: 1!important;
}
.input:hover{
    background: rgba(8, 8, 8, 0.15)!important;
    color: #FFF!important;
}
.text-black{
    color: #000;
}
.modal-content{
    background-color:transparent!important;
    border: none!important;
}
.new-notification {
    background-color: #FF0000!important;
}

.progressbar {
    width: 100%;
    height: 10px;
    border-radius: 10px;
    overflow: none;
    position: relative;
    background: #eee;
}

.progressbar-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: green;
    border-radius: 10px;
    transition: all .3s linear;
}


/* sidebar */

.my-container {
    width: 70%;
    margin: 0 auto;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}

.my-container .sidebar {
    /* display: inline-block; */
    width: 23%;
}

.my-container .content {
    /* display: block; */
    background-color: #F8FAFC;
    width: 75%;
}

.my-container .sidebar ul {
    /* display: inline-block; */
    width: 88%;
}

.my-container .sidebar ul li {
    list-style-type: none;
    font-weight: 800;
    padding: .4rem;
    margin: .5rem 0;
    width: 100%;
    border-radius: 5px;
    color: #091E42;
    font-size: .9rem;
}

.my-container .sidebar ul li:hover,
.my-container .sidebar ul li:hover a {
    color: #026aa7;
    background-color: #E4F0F6;
    cursor: pointer;
}

.my-container .sidebar ul li i {
    font-size: 1rem;
}

.my-container .sidebar ul li a {
    text-transform: none;
    text-decoration: none;
    color: #091E42;
    font-size: .9rem;
}

.my-container .sidebar ul .light-font {
    font-weight: 400;
    color: #555;
}

.my-container .sidebar ul .active,
.my-container .sidebar ul .active a {
    color: #026aa7;
    background-color: #E4F0F6;
}

.my-container .sidebar .teams {
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem;
    margin: 1rem 0;
    font-size: .8rem;
    color: #555;
    width: 88%;
    margin: 0;
}

.my-container .sidebar .teams i {
    cursor: pointer;
    padding: .3rem;
    border-radius: 5px;
}

.my-container .sidebar .teams i:hover {
    background-color: #E4F0F6;
}
